body {
    font-family: 'Trispace', sans-serif;
}

.first-part {
    background-image: url(images/nature2.jpg);
    color: aliceblue;
    background-repeat: no-repeat;

    background-size: cover;
}

.tittle {
    text-align: center;
    font-size: 40px;
    padding-top: 150px;
}

p {
    text-align: center;
    padding-bottom: 80px;
}

.donate {
    text-decoration: none;
    padding: 20px 40px;
    background-image: linear-gradient(salmon, rgba(148, 198, 40, 0.885));
    border-radius: 10px;
    color: azure;
    font-weight: 800;
    padding-top: 20px;
    text-align: center;
}

.button {
    text-align: center;
}

input {
    width: 50%;
    text-align: center;
    border: none;
    outline: 0;
}

.class {
    text-align: center;
}

.red {
    color: red;
    border: 1px solid red;
    padding: 5px 10px;
    background-color: rgb(192, 168, 168);
}

.amount {
    display: flex;
    margin: 2%;
    justify-content: center;
}

.money {
    margin-left: 5%;
}

.parent {
    display: flex;
    justify-content: center;

}

.card {
    height: 350px;
    width: 250px;
    margin-right: 40px;
    padding: 20px;

}

.plan1 {
    text-align: justify;
    margin-left: 5px;
}

.img {
    height: 70px;
    width: 70px;
}

.element {
    background-color: rgba(248, 147, 181, 0.23);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20PX;
    border-radius: 10px;
}

#family {
    background-color: rgba(200, 246, 107, 0.398);
}