body {
    font-family: 'roboto';
}

.first-part {
    margin-top: 0%;
    background-image: url(9ls0_4iri_201221.jpg);
    color: rgba(255, 83, 135, 0.993);
    background-size: cover;
}

#first-tittle {
    padding-top: 150px;
}

.tittle {
    text-align: center;
    padding-top: 80px;
    font-size: 55px;
}

#first-button {
    padding-bottom: 150px;
}

.button {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

.summery {
    display: block;
    text-align: center;
}

.donate {
    text-decoration: none;
    padding: 20px 40px;
    background: linear-gradient(#dfc91c, #ff5e00);
    border-radius: 10px;
    color: azure;
    font-weight: 700;
    padding-top: 20px;
}

.donate-input {
    width: 50%;
    text-align: center;
    border: none;
    border-bottom: 1px solid rgb(51, 51, 51);
    outline: 0;
}

.red {
    color: red;
    border: 1px solid red;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(233, 217, 217);
}

.amount {
    display: flex;
    margin: 2%;
    justify-content: center;
}

.money {
    margin-left: 5%;
}

.parent {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0px auto;

}

.card {
    height: 350px;
    width: 250px;
    margin-right: 40px;
    padding: 20px;

}

.img {
    height: 70px;
    width: 70px;
}

.element {
    background-color: rgba(248, 147, 181, 0.23);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20PX;
    border-radius: 10px;
}

#family {
    background-color: rgba(200, 246, 107, 0.398);
}

.agricalture {
    display: flex;
    align-items: center;
    margin-top: 20px;
    height: 400px;
    background-color: rgba(0, 0, 255, 0.322);
}

.half {
    width: 50%;
}

.half img {
    height: 280px;
    width: 66%;
    padding: 60px;
    border-radius: 15px;

}

.agricalture-text {
    padding: 10px;
    width: 35%
}

.issue {
    text-decoration: none;
    padding: 20px 40px;
    background: linear-gradient(#ff3838, #fc9609);
    border-radius: 10px;
    color: whitesmoke;
    font-weight: 800;
    text-align: center;
}

.center {
    text-align: center;
}

.subscribe-container {
    width: 40%;
    background: rgb(255, 248, 180);
    margin: 0px auto;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe-input {
    background: #fff;
    border-radius: 10px;
}

.sub-email {
    outline: none;
    border: none;
    background: rgba(128, 128, 128, 0.445);
    height: 30px;
}

.sub-button {
    height: 30px;
    background-color: rgb(228, 94, 85);
    border: none;
}

#footer {
    font-style: normal;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.967);
    color: aliceblue;
    padding-bottom: 40px;
    padding-top: 30px;
}

.footer-tittle {
    color: rgba(243, 101, 101, 0.901);
    font-size: 35px;
    font-family: 'Satisfy', cursive;
    font-weight: 700;
}

.finisher {
    font-size: 20px;
    font-family: 'Amatic SC', cursive;
}