body {
    font-family: 'roboto';
}

.first-part {
    background-image: url(images/nature2.jpg);
    color: aliceblue;
    background-repeat: no-repeat;

    background-size: cover;
}

.tittle {
    text-align: center;
    font-size: 40px;
    padding-top: 150px;
}

/* p {
    text-align: center;
    padding-bottom: 80px;
} */

.donate {
    text-decoration: none;
    padding: 20px 40px;
    background-image: linear-gradient(salmon, rgba(148, 198, 40, 0.885));
    border-radius: 10px;
    color: azure;
    font-weight: 800;
    padding-top: 20px;
    text-align: center;
    display: inline-block;
}

.button {
    text-align: center;
    display: inline-block;
}

.donate-input {
    width: 50%;
    text-align: center;
    border: none;
    border-bottom: 1px solid rgb(51, 51, 51);
    outline: 0;
    padding: 10px;
}



.red {
    color: red;
    border: 1px solid red;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(233, 217, 217);
}

.amount {
    display: flex;
    margin: 2%;
    justify-content: center;
}

.money {
    margin-left: 5%;
}

.parent {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0px auto;

}

.card {
    height: 350px;
    width: 250px;
    margin-right: 40px;
    padding: 20px;

}

.plan1 {
    text-align: justify;
    margin-left: 5px;
}

.img {
    height: 70px;
    width: 70px;
}

.element {
    background-color: rgba(248, 147, 181, 0.23);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20PX;
    border-radius: 10px;
}

#family {
    background-color: rgba(200, 246, 107, 0.398);
}

#footer {
    font-style: normal;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.967);
    color: aliceblue;
    padding-bottom: 40px;
    padding-top: 30px;
}

span {
    color: rgba(243, 101, 101, 0.901);
    font-size: 35px;
    font-family: 'Satisfy', cursive;
    font-weight: 800;
}

small {
    font-size: 15px;
}


.agricalture {
    display: flex;
    align-items: center;
    margin-top: 20px;
    height: 350px;
    background-color: rgba(0, 0, 255, 0.322);
}

.half {
    width: 50%;
}

.half img {
    height: 300px;
    width: 100%;
    padding: 5px;
    border-radius: 15px;
    margin-top: 0px;
}

.agricalture-text {
    padding: 10px;
}

.issue {
    text-decoration: none;
    padding: 20px 40px;
    background: linear-gradient(rgb(13, 135, 13), red);
    border-radius: 10px;
    color: rgb(246, 234, 11);
    font-weight: 800;
    text-align: center;
}

.center {
    text-align: center;
}

.subscribe-container {
    width: 60%;
    background: rgb(255, 248, 180);
    margin: 0px auto;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe-input {
    background: #fff;
    border-radius: 10px;
}

.sub-email {
    outline: none;
    border: none;
    background: none;
}

.sub-button {
    background-color: red;
    border: none;
    box-sizing: border-box;
}