body {
    font-family: 'Trispace', sans-serif;
}

.first-part {
    background-image: url(images/nature2.jpg);
    color: aliceblue;
    background-repeat: no-repeat;

    background-size: cover;
}

.tittle {
    text-align: center;
    font-size: 40px;
    padding-top: 150px;
}

p {
    text-align: center;
    padding-bottom: 80px;
}

.donate {
    text-decoration: none;
    padding: 20px 40px;
    background-image: linear-gradient(salmon, rgba(148, 198, 40, 0.885));
    border-radius: 10px;
    color: azure;
    font-weight: 800;
    padding-top: 20px;
    text-align: center;
}

.button {
    text-align: center;
}

.class {
    text-align: center;
}

.red {
    color: red;
    border: 1px solid red;
    padding: 5px 5px 5px 5px;
    background-color: rgb(192, 168, 168);
}

.amount {
    display: flex;
    margin: 2%;
}

.money {
    margin-left: 2%;
}

.third-part {
    display: flex;
    width: auto;
}